[
{ rabbit, [
  { loopback_users, [ ] },
    { tcp_listeners, [ 5672 ] },
    { default_pass, <<"guest">> },
    { default_user, <<"guest">> },
    { default_vhost, <<"/">> },
    { hipe_compile, false },
    { disk_free_limit, 500000000 },
    { cluster_partition_handling, <<"pause_minority">> }

] },
{ rabbitmq_management, [ { listener, [
  { port, 15672 }
] } ] }
].
